.comment-bubble {
  @include clearfix;
  padding: 0.5em 0.5em 2em 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  position: relative;

  &:nth-child(even) {
    img {
      float: right;
      margin-left: 0.5em;
    }
  }

  &:nth-child(odd) {
    img {
      float: left;
      margin-right: 0.5em;
    }
  }
}

.comment-mods {
  position: absolute;
  bottom: 0;
  height: 1em;
  padding: 5px;
}

.comment-flag {
  color: red;
}

.comment-no-flag {
  color: #ccc;
}
