.typeahead-result {
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid #ddd;

  a:hover {
    text-decoration: none;
  }
}

.typeahead-tags {
  margin-bottom: 0;
}

.typeahead-title {
margin-bottom: 3px;
}
