// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

@import "card";
@import "idea";
@import "profile";
@import "typeahead";
@import "comment";
@import "buttons";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

footer {
  margin-top: 5em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.navbar-pic {
  margin-top: 3px;
}

.logo {
  @include clearfix;

  img {
    float: left;
    margin-right: 20px;
  }

  h1 {
    font-size: 2em;
  }
  @media (min-width: 500px) {
    h1 {
      font-size: 4em;
    }
  }

}

.idea-filter {
  margin: 1em;
}

.label { margin-right: 5px; }

input[typeahead] {
  min-width: 225px;
}

.badge {
  margin-left: 5px;
}
