<div class="container">
  <h1>Edit your Idea</h1>
  <form ng-submit="update()" name="ideaForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter a descriptive title" required ng-model="idea.title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" placeholder="Provide a clear description of your idea" required ng-model="idea.description"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <ui-select multiple ng-model="idea.tags">
        <ui-select-match placeholder="Add tags...">{{$item.text}}</ui-select-match>
        <ui-select-choices repeat="tag in tags | filter:$select.search">
          {{ tag.text }}
        </ui-select-choices>
      </ui-select>
    </div>
    <input type="submit" class="btn btn-primary" value="Update Idea" ng-disabled="ideaForm.$invalid">
  </form>
</div>
