<h2>
  <span class="glyphicon glyphicon-comment"></span>
  {{ comments.length || 0 }} Comment<span ng-show="comments.length != 1">s</span>
</h2>
<ul class="list-group">
  <li class="list-group-item comment-bubble" ng-repeat="comment in comments">
    <!-- User prof pic comment.commenter.picture & name -->
    <img ng-src="{{ comment.user.picture }}" alt="{{ comment.user.name }}'s Profile Picture">
    <p ng-hide="view.isEditing">{{ comment.body }}</p>
    <div ng-show="view.isEditing" class="inline-form">
      <input type="text" class="form-control" ng-model="comment.body" style="max-width: 480px;">
      <button class="btn btn-primary" ng-click="updateComment(comment)">Update</button>
      <button class="btn btn-danger" ng-click="view.isEditing = false">Cancel</button>
    </div>
    <p class="comment-mods">
      <span class="glyphicon glyphicon-pencil"
        popover="Edit Comment"
        popover-trigger="mouseenter"
        ng-click="view.isEditing = true"></span>
      <span class="glyphicon glyphicon-flag"
        ng-click="toggleFlag(comment)"
        ng-class="{ 'comment-flag': comment.flagged, 'comment-no-flag': !comment.flagged }"popover="Flag Innapropriate Comment"
        popover-trigger="mouseenter"></span>
      <span class="glyphicon glyphicon-trash"
        ng-click="destroy(comment)"
        popover="Delete Comment"
        popover-trigger="mouseenter"></span>
    </p>
  </li>
</ul>
<form ng-submit="addComment()">
  <div class="form-group">
    <input type="text" ng-model="newComment.body" class="form-control" placeholder="Comment...">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form><br>
