<header ng-controller="HeaderCtrl" ng-show="isAuthenticated()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="ideas">Idea Board</a>
        <div class="pull-left">
          <a ui-sref="profile">
            <img class="navbar-pic" ng-src="{{ picture }}" alt="Profile picture">
          </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a ui-sref="profile">Profile</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ideas <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="ideas.list">View all Ideas</a></li>
              <li><a ui-sref="ideas.create">Create an Idea</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tags <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="tags.list">Filter Tags</a></li>
              <li><a ui-sref="tags.new">Propose a Tag</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="documentation">Documentation</a></li>
              <li><a ui-sref="rules">Rules</a></li>
              <li><a ui-sref="support">Support</a></li>
            </ul>
          </li>
          <li class="dropdown" ng-show="isAdmin()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="tags.review">Review Tags <span class="badge"> {{ admin.tags.length }}</span></a></li>
            </ul>
          </li>
          <li><a ui-sref="login" ng-click="logOut()">Logout</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="search" ng-model="selected" typeahead="idea for idea in ideas | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search ideas..." typeahead-template-url="views/partials/typeahead.html" typeahead-input-formatter="formatInput($model)">
          </div>
        </form>
      </div><!-- /.navbar-collapse -->
    </div> <!-- container -->
  </nav>
</header>
