<div class="col-xs-12 col-sm-8 idea-main">
  <h2><a ui-sref="ideas.detail({ id: idea.id })">{{ idea.title }}</a></h2>
  <p>
    <a ng-repeat="tag in idea.tags" ui-sref="tags.detail({ id: tag.id })" class="label label-primary">{{ tag.text }}</a>
  </p>
  <p>{{ idea.description }}</p>
  <div ng-hide="detailed">
    <h2>
      <a ui-sref="ideas.detail({ id: idea.id, '#': 'attachments' })">
        <span class="fa fa-paperclip"></span>
        {{ idea.attachments.length || 0 }} Attachment<span ng-show="idea.attachments.length != 1">s</span>
      </a>
    </h2>
  </div>
  <div ng-show="detailed">
    <h2 id="attachments">
      <span class="fa fa-paperclip"></span>
      {{ idea.attachments.length || 0 }} Attachment<span ng-show="idea.attachments.length != 1">s</span>
    </h2>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="file in idea.attachments">
        <a href="{{ file.url }}">{{ file.name }}</a>
        <p>{{ file.description }}</p>
      </li>
    </ul>
  </div>
  <div ng-hide="detailed">
    <h2>
      <a ui-sref="ideas.detail({ id: idea.id, '#': 'comments' })">
        <span class="fa fa-comment"></span>
        {{ idea.comments.length || 0 }} Comment<span ng-show="idea.comments.length != 1">s</span>
      </a>
    </h2>
  </div>
  <div ng-show="detailed">
    <comments idea-id="{{idea.id}}" comments="idea.comments"></comments>
  </div>
</div>

<div class="col-xs-12 col-sm-4 idea-meta">
  <toggle-vote user-id="{{ userId }}" idea="idea"></toggle-vote>
  <p>{{ idea.score.length }} vote<span ng-show="idea.score.length != 1">s</span> so far</p>
  <hr>
  <p>Status: {{ idea.status }}</p>
  <hr>
  <toggle-flag user-id="{{ userId }}" idea="idea"></toggle-flag>
  <hr>
  <toggle-subscribe user-id="{{ userId}}" idea="idea"></toggle-subscribe>
  <hr>
  <p>Share this Idea<br><span class="fa fa-link"></span>&nbsp;&nbsp;&nbsp;<span class="fa fa-envelope"></span></p>
</div>

<div class="idea-creator col-xs-12">
  <p class="pull-left">Posted by: <a ui-sref="profile.detail({ id: idea.creator.id })">{{ idea.creator.name }}</a> on {{ idea.createdAt | date: 'longDate' }}</p>
  <p class="pull-right" ng-show="myIdea()">
    <button class="btn btn-xs btn-danger" ng-click="deleteIdea()"><span class="fa fa-trash"></span> Delete</button>
    <button class="btn btn-xs btn-info" ui-sref="ideas.edit({ id: idea.id })"><span class="fa fa-pencil"></span> Edit</button>
  </p>
</div>
