<div class="container">
  <h1>Tags <span class="glyphicon glyphicon-tag"></span></h1>
  <p>Tags are helpful in relating different ideas.</p>

  <div class="form-group">
    <label class="sr-only" for="tag-filter">Filter tags</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      <input type="search" ng-model="query" class="form-control" placeholder="Filter tags..." id="tag-filter">
    </div>
  </div>

  <ul class="list-group">
    <li ng-repeat="tag in tags | filter:query " class="list-group-item">
      <h3>{{ tag.text }}</h3>
      <p>{{ tag.description }}</p>
    </li>
  </ul>
</div>
