<div class="row">
  <div class="idea-detail col-xs-12 col-md-8">
    <h2>{{ idea.title }}</h2>
    <div class="idea-meta">
      <img ng-src="{{ idea.creator.picture }}" alt="User profile picture"> {{ idea.creator.name }} on {{ idea.createdAt | date: 'longDate' }}
    </div>

    <h3>Description</h3>
    <p>{{ idea.description }}</p>

    <h3>Attachments</h3>
    <ul ng-repeat="attachment in idea.attachments">
      <li>{{ attachment }}</li>
    </ul>

    <h3>Questions</h3>
    <ul ng-repeat="question in idea.questions">
      <li>{{ attachment }}</li>
    </ul>

  </div>

  <div class="idea-metrics text-center col-xs-12 col-md-4">
    <button class="idea-vote btn btn-circle btn-lg btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <hr>
    <p>Number of Votes: x</p>
    <hr>
    <p>Status: xxxxx</p>
    <hr>
    <p>Share:</p>
    <span class="glyphicon glyphicon-envelope"></span>
    <span class="glyphicon glyphicon-link"></span>
    <p><span class="glyphicon glyphicon-info-sign"></span> links are only accessible to FWS employees</p>
  </div>
</div>
