<div class="row">
  <div class="profile-user col-xs-12 col-md-8">
    <h2>{{user.name}}</h2>
    <form>
      <div class="form-group">
        <label for="office">Office</label>
        <input id="office" type="text" class="form-control" placeholder="i.e. St. Marks NWR" ng-model="user.office">
      </div>
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input id="occupation" type="text" class="form-control" placeholder="i.e. Fish and Wildlife Biologist" ng-model="user.occupation">
      </div>
      <div class="form-group">
        <label for="about">About</label>
        <textarea class="form-control" id="about" ng-model="user.about" placeholder="Tell us about yourself"></textarea>
      </div>
      <div class="form-group">
        <label for="type">Account Type</label>
        <select id="type" type="text" class="form-control" ng-model="user.type">
          <option value="User">User</option>
          <option value="Moderator">Moderator</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="profile-badges col-xs-12 col-md-4">
    <h2>Badges</h2>
    <ul ng-repeat="badge in user.badges">
      <li>{{badge}}</li>
    </ul>
  </div>

  <div class="profile-ideas col-xs-12">
    <h2>Idea<span ng-hide="user.ideas.length === 1">s</span></h2>
    <ul ng-repeat="idea in user.ideas" class="card-list">
      <li class="card row">
        <div class="col-xs-12 col-md-8 idea-main">
          <h2>{{ idea.title }}</h2>
          <p>
            <span ng-repeat="tag in idea.tags" class="label label-primary">{{ tag.text }}</span>
          </p>
          <p>{{ idea.description }}</p>
        </div>
        <div class="col-xs-12 col-md-4 idea-meta">
          <button class="btn btn-circle btn-success btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <p>Vote for this idea</p>
          <p>{{ idea.score.length }} votes so far</p>
          <p>Status: {{ idea.status }}</p>
        </div>
        <div class="idea-creator col-xs-12">
          <p>Posted by: {{ idea.creator.name }} on {{ idea.createdAt | date: 'longDate' }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
