<h1>Profile</h1>
<div class="row" ng-hide="id != undefined">
  <div class="profile-user col-xs-12 col-md-8">
    <h2>{{ user.name }}: {{ user.type }}</h2>
    <h3>{{ user.office }}</h3>
    <h3>{{ user.occupation }}</h3>
    <p>{{ user.about }}</p>
  </div>

  <div class="profile-badges col-xs-12 col-md-4">
    <h2>Badges</h2>
    <ul ng-repeat="badge in user.badges">
      <li>{{badge}}</li>
    </ul>
  </div>

  <div class="profile-ideas col-xs-12">
    <h2>Idea<span ng-hide="user.ideas.length === 1">s</span></h2>
    <ul ng-repeat="idea in user.ideas" class="card-list">
      <li class="card row idea">
        <div ng-include="'views/partials/idea.html'"></div>
      </li>
    </ul>
  </div>
</div>

<div ui-view></div>
